@import "tailwindcss";

@theme {
  --color-brand-coral: #CA5E3C;
  --color-brand-dark: #232817;
  --color-brand-light-green: #99934F;
  --color-brand-ivory: #EEE8E0;
  --color-brand-ivory-light: #F7F4ED;
  --color-brand-pink: #EABDAC;
  --color-brand-pink-muted: #F3E1D3;
  --color-brand-teal: #0F6668;
  --color-brand-brown: #6D341B;

}
